body{

    margin:0;
    padding:0;

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#f7abae,#fad0c4);

    font-family:Arial, sans-serif;

}
.button-container{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    margin-top:25px;

}

.container{

    width: 80%;

    text-align:center;

    background:#ff9a9e;

    padding:50px;

    border-radius:20px;

    box-shadow:0 0 20px rgba(0,0,0,.2);
    font-size: 1.2rem; /* powiększa cały tekst */
}
.textarea{
color: #ff4b6e;
 border-radius: 10px;

}

button{

    padding:15px 35px;

    margin:10px;

    border:none;

    border-radius:10px;

    background:#ff4b6e;

    color:white;

    font-size:20px;

    cursor:pointer;

    transition:.3s;
    

}

button:hover{

    transform:scale(1.05);

}
button:hover{

    transform:scale(1.1);

}
#yesButton{
     position:relative;
    margin-right:20px;
}
#noButton{
    position: relative;
    transition: left 0.2s ease, top 0.2s ease, transform 0.2s ease;
    z-index: 10;
}

#otherBox{

    margin-top:25px;

    padding:25px;

    width:350px;
    max-width:90%;

    background:white;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    transition:.4s;

}

.hidden{

    display:none;

}

#otherBox h2{

    margin-top:0;

    color:#ff4b6e;

}

#otherDate{

    width:100%;

    padding:15px;

    font-size:18px;

    border:2px solid #ffb6c1;

    border-radius:12px;

    outline:none;

    box-sizing:border-box;

    transition:.3s;

}

#otherDate:focus{

    border-color:#ff4b6e;

    box-shadow:0 0 10px rgba(255,75,110,.3);

}
#funnyImage{
    display: block;
    margin: 20px auto;
    width: 350px;
    max-width: 90%;
    border-radius: 20px;
}
img {
    position: relative;
    z-index: 1;
}
.answers {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* na telefonie przejdą do kolejnego wiersza */
}

.answers label {
    display: flex;
    align-items: center;
    gap: 5px;
}